h1 {
font-family: comic sans;
font-size: 48px;
color: "#096FB6";
}

main { 
font-family: bembo;
font-size: 36px;
color: "#1D262D";
}

footer {
font-family: bembo;
font-size: 14px;
color;  "#666B6F";
}